[submodule "vendor/github.com/dylanaraps/neofetch"]
	path = vendor/github.com/dylanaraps/neofetch
	url = https://github.com/dylanaraps/neofetch
[submodule "vendor/github.com/dylanaraps/birch"]
	path = vendor/github.com/dylanaraps/birch
	url = https://github.com/dylanaraps/birch
[submodule "vendor/github.com/pystardust/ani-cli"]
	path = vendor/github.com/pystardust/ani-cli
	url = https://github.com/pystardust/ani-cli
[submodule "vendor/github.com/pystardust/ytfzf"]
	path = vendor/github.com/pystardust/ytfzf
	url = https://github.com/pystardust/ytfzf
